.container {
    border: 1px solid #555;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
}
.left-side {
    width: 40%;
    background: linear-gradient(315deg, #2E75E7 0%, #478EFF 100%);
}
.main-content {
    text-align: center;
    top: 20%;
    position: relative;
}
h6 {
    -webkit-margin-top-collapse: discard;
}
.main-content-button {
    text-align: center;
    top: 20%;
    position: relative;
}
.main-content-fields {
    text-align: center;
    top: 20%;
    position: relative;
    /* -webkit-margin-top-collapse: discard; */
}
.mat-form-field {
    width: 60%;
}
.fn {
    width: 25%;
    left: 20%;
    position: absolute;
}
.ln {
    width: 30%;
    left: 15%;
    position: inherit;
}
.pass-eye {
    position: absolute;
    cursor: pointer;
    right: 0px;
}
.image-logo {
    position: absolute;
    width: 150px;
    right: 0;
    animation: 1.1s infinite beatHeart;
}
@keyframes beatHeart {
    0% {
      transform: scale(0.9);
    }
    25% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.9);
    }
    60% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
}